h1 {
    color: gray;
    margin-left: 20px;
  }
  .cleaning-checklists-container {
    margin: 100px 20px 100px 20px;
  }
  
  .cleaning-sidebar {
    margin-top: 100px;
    color: gray;
  }
  .fix-weight {
    width: 100%;
  }

  @media screen and (max-width: 787px) {
    .cleaning-checklists-container {
      margin: 50px 20px 100px 20px;
    }
  }