h1, h3, p, span {
    color: gray;
  }
  .fix-weight {
    width: 100%;
  } 
  .home-sidebar {
    padding-left: 20px;
    margin-top: 100px;
  }
  .neewsfeed-container {
    margin: 100px 100px 100px 50px;
    text-align: left;
  }
  .neewsfeed-container ul {
    width: 60vw;
    border-radius: 10px;
    list-style: none;
    background: rgb(233, 245, 235);
    padding: 50px 50px 30px 50px;
    margin-top: 50px;
  }
  .neewsfeed-container ul>li {
   background: white;
   margin: 20px 20px 50px 20px;
   max-height: 305px;
   border-radius: 5px;
   overflow: auto;
  }
  .neewsfeed-container ul>li>div {
    padding: 20px;
    width: 100%;
    text-align: left;
  }
  .neewsfeed-container ul>li>div>div>button {
    font-size: medium;
    color:lightblue;
    border: none;
    background: white;
  }
  .neewsfeed-container ul>li>div>div>button:hover {
    text-decoration: underline;
  }
  .neewsfeed-container ul>li>div>div>button:focus {
    outline: 0;
  }
  .neewsfeed-container ul>li>div>div>span {
    line-height: 2;
    white-space: pre-line;
  }

  @media screen and (max-width: 1600px) {
    .neewsfeed-container {
      margin: 100px 50px 100px 50px;
    }
  }
  @media screen and (max-width: 1500px) {
    .neewsfeed-container {
      margin: 100px 20px 100px 20px;
    }
  }
  @media screen and (max-width: 1310px) {
    #app>div {
      margin: 0px;
    }
    #app>div>div {
      padding: 0px;
    }
    .neewsfeed-container {
      margin: 50px 0px 100px 0px;
      text-align: center;
    }
    .neewsfeed-container>ul {
      padding: 50px 0px;
      margin: auto;
      width: 80vw;
    }
  }
  @media screen and (max-width: 900px) {
    .home-sidebar {
      min-width: 300px;
    }
    .neewsfeed-container {
      margin: 20px 20px 100px 20px;
      text-align: center;
    }
    .neewsfeed-container>ul {
      padding: 50px 0px 20px 0px;
    }
  }


