h1, h3, p, span {
    color: gray;
  }
  .home-sidebar {
    padding-left: 20px;
    margin-top: 30px;
  }
  .neewsfeed-container {
    margin-left: 100px;
  }
  .neewsfeed-container ul {
    width: 60vw;
    border-radius: 10px;
  }
  .neewsfeed-container ul>li {
   background: white;
   margin: 20px 20px 20px 20px;
   max-height: 300px;
   border-radius: 5px;
  }
  .neewsfeed-container ul>li>div {
    padding: 20px;
    width: 100%;
    text-align: left;
    overflow: auto;
  }
  .neewsfeed-container ul>li>div>div>button {
    font-size: medium;
    color:lightblue;
    border: none;
    background: white;
  }
  .neewsfeed-container ul>li>div>div>button:hover {
    text-decoration: underline;
  }
  .neewsfeed-container ul>li>div>div>button:focus {
    outline: 0;
  }
  .neewsfeed-container ul>li>div>div>span {
    line-height: 2;
    white-space: pre-line;
  }